@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@800&family=Be+Vietnam+Pro:wght@200;400;700&family=Nanum+Gothic&display=swap');
/* ESTILOS GLOBALES */
* {
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

/* ESTILOS PARA EL HEADER Y DIVISION DEL HEADER */
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498DB;
    padding: 10px 0 10px 0;
}

.columna {
    flex: 1;
    text-align: center;
}

/* ESTILOS PARA EL LOGO */
.logo img {
    height: 100px;
    transition: all 0.3s;
}

.logo img:hover {
    transform: scale(1.2);
}

/* ESTILOS PARA EL MENU PRINCIPAL */
.nav-links li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
    margin-top: 10px;
}

.nav-links li:hover {
    border-bottom: solid 2px #2C3E50;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 130%;
}

.nav-links li a:hover {
    color: #2C3E50;
    transition: all 0.3s;
}

/* ESTILOS PARA EL MENU TRADUCCION LENGUAJES*/
.nav-lang li {
    list-style: none;
    display: inline-block;
    margin-top: 15px;
    transition: all 0.2s;
}

.nav-lang li:hover {
    transform: scale(1.2);
    padding-top: 4px;
}

.nav-lang {
    margin-right: 10px;  
}

/* ESTILOS PARA EL BOTON HAMBURGUESA */
.burger-btn {
    display: none;
}

/* ESTILOS PARA LA INTRO */
.intro-container {
    background-image: url('../static/images/back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 87vh;
}

.intro-container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 10vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
    padding: 5px;
    transition: all 0.5s;
    font-family: 'Alegreya Sans SC', sans-serif;
}

/* ESTILOS PARA EL TEXTO DEL INDEX */
.index-container {
    display: flex;
}
.text-index {
    flex: 1;
    margin: 10px 4.5% 10px 10%;
    text-align:left;
    font-size: 110%;
}

.text-index p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-index h1, .text-index h3 {
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    

}
.text-index h1 {
    font-size: 180%;
    margin-top: 8%;
    font-weight: bold;
    color: #21618C;
}

/* ESTILOS PARA LA IMAGEN DEL INDEX */
.image-index img{
    margin: 50px 170px 50px 50px;
    width: 550px;
    border-radius: 5%;
}

.image-index2 img {
    display: none;
}

/* ESTILOS PARA LOS PUNTOS DEL INDEX */
.point-index {
    display: flex;
    margin: 0 30vh 5vh 30vh;
}

.point-index img {
    margin: 0 0 -10px 0;
    width:15%;
}

.point-index div {
    max-width: 100vh;
    text-align: center;
}

.point-index .div2 {
    margin: 0 4vh 0 4vh;
}

.point-index h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 190%;
    color: #21618C;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.point-index p{
    text-align: center;
    margin-top: 10px;
}

/* ESTILOS DEL FOOTER*/
footer {
    margin: 10px 10px 10px 4.5%;
}
footer a {
    color:#21618C;
    text-decoration: none;
}

/* ESTILOS PARA HACER LA PAGINA RESPONSIVE*/
@media screen and (max-width: 1430px) {
    .burger-btn {
        font-size: 1.5em;
        cursor: pointer;
        color: white;
        border: white 1px solid;
        width: 40px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .burger-btn:hover {
        background-color: #c6ecff;
        color: #1b3039;
        border: #1b3039 1px solid;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        background-color: #21618C;
        z-index: 2;
    }

    .nav-links.active {
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border-top: 1px solid #1b3039;
        padding-bottom: 5px;
    }

    .nav-links li {
        display: block;
        padding: 10px;
        cursor: pointer;
        margin: 0 0 0 -37px;
    }

    .nav-links li:hover {
        background-color: #5DADE2;
        margin: 5px 5px 0 -35px;
        border-bottom: none;
    }

    .nav-links li a:hover {
        color: #F2F3F4;
        font-weight: normal;
        border: none;
    }

    .nav-lang {
        margin-left: -50px;
    }
    
    .index-container {
        display: block;
    }

    .text-index {
        max-width: none;
        margin: 10px 4.5% 10px 4.5%;
    }

    .image-index {
        margin-top: 50px;
        text-align: center; 
    }

    .image-index img {
        margin: auto;
        width: 290px;
    }

    .image-index img {
        display: none;
    }

    .image-index2 {
        margin: -1% 5% 0 5%;
    }
    .image-index2 img {
        display: block;
        width: 100%;
        border-radius: 5px;
    }

    .point-index {
        margin: 5vh 20vh 5vh 20vh;
    }
}

@media screen and (max-width: 1252px) {
    .point-index {
        margin: 5vh 10vh 5vh 10vh;
    }
}

@media screen and (max-width: 850px) {
    .intro-container h1 {
        font-size: 8vh;
    }
    
    .point-index {
        display: block;
        margin: 0 5vh 5vh 5vh;
    }

    .point-index img {
        margin: 3vh 0 -4vh 0;
    }

    .point-index div {
        max-width: none;
    }
}

@media screen and (max-width: 410px) {
    .intro-container h1 {
        font-size: 6vh;
    }

    .point-index {
        display: block;
        margin: 0 2vh 5vh 2vh;
    }
}

@media screen and (max-width: 350px) {
    .intro-container h1 {
        font-size: 5vh;
    }
}